.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 25px 0px 25px;
    gap: 5vw;
    justify-content: center;
    height: 60px;
}

.logo{
    height: 35px;
    object-fit: cover;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.buttonContainer button{
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 15px;
}

.buttonContainer button a{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 3px;
}


