.container{
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 98vw;
}

.categoriesContainer{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    gap : 20px;
}

.categoryContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.categoryContainer img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    background-color: lightgray;
}